.footer {
    background-color: #333;
    color: #fff;
    width: 100%;
    padding: 20px 0;
    margin-top: 20px;
    border-top: #00ffff;
    border-style: solid;
    border-width: 3px;;
  }
  
  .footer h6 {
    text-align: center;
    padding: 20px 0;
    margin: 0;
    color: #fff;
  }